<div>
  <!-- <h3>Hi, I'm Amie</h3>
  <p>I'm a web app developer who started as a designer. I’m used to working on small, interdisciplinary teams, with quick turnarounds. I've been working in front-end/UI technologies for 5 years or so now, while expanding my knowledge back down the stack.</p> -->
  <ul class="list-group clear">
    <li ng-repeat="item in navMenu" class="list-group-item">
      <a ui-sref="single({post_id: item.id})">
        <i class="fa" ng-class="item.icon"></i>
        {{item.name}}
      </a>
    </li>
    <li ng-if="uiRouterState.current.name != 'main'" class="list-group-item">
      <a ui-sref="main"><i class="fa fa-picture-o" aria-hidden="true"></i> Portfolio</a>
    </li>
    <li class="list-group-item">
      <a href="//github.com/sunburntkamel" target="_blank">
        <i class="fa fa-github"></i> GitHub
      </a>
    </li>
    <li class="list-group-item">
      <a href="//linkedin.com/in/sunburntkamel" target="_blank">
        <i class="fa fa-linkedin"></i> LinkedIn
      </a>
    </li>
  </ul>
</div>
