<div class="row" ng-show="termItems.found != '0'">
  <h3>
    <a ui-sref="term({taxonomy: 'jetpack-portfolio-type', term: $parent.term.slug})">{{$parent.term.name}}</a>
  </h3>
    <div ng-repeat="post in termItems.posts" class="col-md-3 col-sm-4 col-xs-6">
      <a ui-sref="single({post_id: post.ID, slug: post.slug})">
        <img ng-src="{{post.featured_image | thumb: '256':'256':'1'}}" class="img-circle img-thumbnail img-responsive" alt="{{post.title}}" />
      </a>
      <h5>
        <a ui-sref="single({post_id: post.post_id, slug: post.slug})">
          <span ng-bind-html="post.title"></span>
        </a>
      </h5>
      <p class="text-muted"></p>
    </div>
</div>
